NUXT_AUTH_PASSWORD_HASH=<your password hash here - generate with: 'echo -n "yourpassword" | openssl dgst -sha256 -hex' in your terminal>

# Generate with: openssl rand -hex 32
NUXT_SESSION_SECRET=<run 'openssl rand -hex 32' in your terminal and paste the output here>
